@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a:not(header > a):not(h2 > a):not(h3 > a):not(h4 > a) {
        @apply text-[#4477FF];
    }

    a:hover {
        @apply transition duration-500 ease-in-out text-[#00ffff];
    }

    a:active,
    a:focus,
    a:focus-visible,
    a:focus-within,
    a:target {
        @apply text-[#00ffff];
    }

    h1 > a,
    h2 > a,
    h3 > a {
        @apply text-[#ffffff] no-underline font-bold;
    }

    h1,
    h2,
    h3 {
        @apply my-8 text-[#ffffff] no-underline;
    }

    h2 {
        @apply text-xl md:text-2xl;
    }

    h3 {
        @apply text-lg font-bold md:text-xl;
    }

    p {
        @apply my-2;
    }

    strong,
    li::marker,
    code:not(pre > code){
        @apply text-[#ffffff];
    }

    pre,
    blockquote,
    aside {
        @apply my-3 rounded;
    }

    pre {
        @apply bg-[#222222];
    }

    blockquote,
    aside {
        @apply bg-[#000033];
    }

    code:not(pre > code) {
        @apply bg-[#444444] overflow-x-auto whitespace-pre-wrap break-words;
    }

    code {
        font-family: 'JetBrainsMono', monospace;
    }

    blockquote,
    aside {
        @apply border-l-4 border-solid border-[#3366FF] p-4 text-[#ffffff];
    }

    blockquote {
        @apply italic;
    }

    ul {
        @apply list-disc;
    }

    ul ul {
        list-style-type: circle;
    }

    ol {
        @apply list-decimal;
    }

    ul,
    ol {
        @apply pl-4 list-inside;
    }

    li::marker {
        @apply font-bold;
    }

    figure {
        @apply my-8;
    }

    img {
        @apply max-w-[520px] mx-auto w-full block rounded-sm h-auto md:w-1/2;
    }

    figcaption {
        @apply text-[#999999] text-center text-sm;
    }

    sup {
        @apply text-base;
        vertical-align: baseline;
        position: relative;
        top: 0;
        margin-left: 0.2em;
    }

    sup > a:before {
        content: "[";
    }

    sup > a:after {
        content: "]";
    }

    sup > a {
        @apply no-underline;
    }

    ruby {
        display: ruby;
    }

    /* Firefox-specific adjustment */
    @-moz-document url-prefix() {
        rt {
            position: relative;
            top: 1em;
            margin-left: -2em;
        }
    }
}

/*a:hover {*/
/*    text-shadow: 0 0 24px;*/
/*}*/

.blockquote figcaption {
    text-align: right;
}

.blockquote figcaption:before {
    content:"\2014"
}

.footnote-backref,
.reference-backref,
.reference-ref {
    text-decoration: none;
}

/* Stupid Parsedown inserts a <p> in each <li> the footnotes section. */
.footnotes p {
    display: inline;
}

/* Stupid Parsedown inserts a <hr> the footnotes section. */
.footnotes hr {
    display: none;
}

.footnotes ol li {
    margin-bottom: 1rem;
}

@font-face {
    font-family: 'HanSerif';
    src:  url('/assets/fonts/HanSerif-Regular-subset.woff') format('woff'),
          url('/assets/fonts/HanSerif-Regular-subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/**/

@font-face {
    font-family: 'Inter';
    src:  url('/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}


/* Loading github-dark.min.css directly here to more easily re-use colors, etc. */
pre code.hljs {display:block;overflow-x:auto;padding:.5rem}code.hljs{padding:0}
.hljs{color:#c9d1d9;}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#ff7b72}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#d2a8ff}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#79c0ff}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#a5d6ff}.hljs-built_in,.hljs-symbol{color:#ffa657}.hljs-code,.hljs-comment,.hljs-formula{color:#8b949e}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#7ee787}.hljs-subst{color:#c9d1d9}.hljs-section{color:#1f6feb;font-weight:700}.hljs-bullet{color:#f2cc60}.hljs-emphasis{color:#c9d1d9;font-style:italic}.hljs-strong{color:#c9d1d9;font-weight:700}.hljs-addition{color:#aff5b4;background-color:#033a16}.hljs-deletion{color:#ffdcd7;background-color:#67060c}
